@charset "UTF-8";
/* =======================================
 left
======================================= */
.wrap-side {
  color: #333;
  font-size: 12px;
  font-family: "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  line-height: 1.4;
  width: 200px;
}

.wrap-side .en {
  font-family: "Century Gothic", CenturyGothic, Futura, AppleGothic, sans-serif;
  letter-spacing: .1em;
}

.wrap-side a {
  color: #333;
  text-decoration: none;
}
.wrap-side a:hover img {
  opacity: 0.8;
}

.wrap-side .cOrange {
  color: #f90;
}

.side-ttl {
  font-size: 26px;
  font-weight: normal;
  line-height: 1;
  margin:  0 0 16px;
}

.side-ttl img {
  margin-right: 6px;
  vertical-align: middle;
}

.side-raking {
  margin-bottom: 30px;
}

.side-search {
  margin-bottom: 30px;
}

.search-keyword {
  background: #f2f2f2;
  border: 0;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1;
  padding: 14px 16px;
  width: 200px;
}

.side-cat {
  margin-bottom: 30px;
}

.side-cat-list {
  background: #f8f3eb;
  padding: 5px 0;
  width: 200px;
}

.side-cat dt a,
.side-cat label {
  display: block;
  cursor :pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 25px 3px 5px;
  position: relative;
}

.side-cat dt a img,
.side-cat label img {
  margin-right: 8px;
  vertical-align: middle;
}

.side-cat label::after {
  content: "";
  border-color: transparent #333 #333 transparent;
  border-style: solid;
  border-width: 0 2px 2px 0;
  display: block;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 7px;
  position: absolute;
  top: 16px;
  right: 15px;
}

.side-cat dl,
.side-cat dt,
.side-cat dd,
.side-cat ul,
.side-cat li {
  margin: 0;
  padding: 0;
}

.side-cat dl {
  background: #fff;
  margin: 0 auto 5px;
  width: 192px;
}

.side-cat dl:last-child {
  margin-bottom: 0;
}

.side-cat ul {
  list-style: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.side-cat li {
  border-top: 1px dotted #c9b699;
  line-height: 1.67;
}

.side-cat li a {
  display: block;
  padding: 9px 0 9px 38px;
  position: relative;
}

.side-cat label:hover,
.side-cat a:hover {
  background: rgba(248,243,235,.8);
}

.side-cat li a::before {
  content: "";
  border-color: transparent #c9b699 #c9b699 transparent;
  border-style: solid;
  border-width: 0 2px 2px 0;
  display: block;
  height: 7px;
  transform: rotate(-45deg);
  transform-origin: right;
  width: 7px;
  position: absolute;
  top: 10px;
  left: 18px;
}

input[type="checkbox"].bellows{
    display: none;
}

input[type="checkbox"].bellows + dl ul {
    max-height: 0;
    overflow: hidden;
}

.side-cat input[type="checkbox"].bellows:checked + dl label::after {
  transform: rotate(-135deg);
}

input[type="checkbox"].bellows:checked + dl ul {
    max-height: 1500px;
}

.side-pickup {
  border: 3px solid #f90;
  box-sizing: border-box;
  margin: 0 0 28px;
  padding: 20px;
  width: 100%;
}

.pickup-item {
  margin: auto;
  width: 160px;
}

.item-thumb img {
  width: 160px;
}

.picukup-ttl {
  font-size: 26px;
  font-weight: normal;
  margin: 0 auto 8px;
  text-align: center;
  position: relative;
  width: 146px;
}

.picukup-ttl::before,
.picukup-ttl::after {
  content: url("../img/side/pickup_ttl_bg.png");
  position: absolute;
  top: 6px;
}

.picukup-ttl::before {
  left: 0;
}

.picukup-ttl::after {
  transform: scale(-1, 1);
  right: 0;
}

.pickup-txt {
  font-size: 13px;
  margin: 0 auto 18px;
  text-align: center;
}

.item-price {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.qe-code {
  margin-bottom: 26px;
}

